/*
Theme Name: Divi Child
Theme URI: http://www.revlocal.com/
Version: 1
Description: Divi Child Theme for Revlocal uses.
Author: Revlocal
Template: Divi
Author URI: http://www.revlocal.com/
*/

@import url("../Divi/style.css");

 .woocommerce a.button.alt,
 .woocommerce button.button.alt,
 .woocommerce input.button.alt,
 .woocommerce #respond input#submit.alt,
 .woocommerce #content input.button.alt,
 .woocommerce-page a.button.alt,
 .woocommerce-page button.button.alt,
 .woocommerce-page input.button.alt,
 .woocommerce-page #respond input#submit.alt,
 .woocommerce-page #content input.button.alt {
	background: SkyBlue;
}

.et_fixed_nav #top-header {
	background: SkyBlue;
}

 .woocommerce div.product span.price,
 .woocommerce div.product p.price,
 .woocommerce #content div.product span.price,
 .woocommerce #content div.product p.price,
 .woocommerce-page div.product span.price,
 .woocommerce-page div.product p.price,
 .woocommerce-page #content div.product span.price,
 .woocommerce-page #content div.product p.price {
	color: SkyBlue;
}

a {
	color: SkyBlue;
}
 .woocommerce a.button,
 .woocommerce button.button,
 .woocommerce input.button,
 .woocommerce #respond input#submit,
 .woocommerce #content input.button,
 .woocommerce-page a.button,
 .woocommerce-page button.button,
 .woocommerce-page input.button,
 .woocommerce-page #respond input#submit,
 .woocommerce-page #content input.button {
	background: SkyBlue;
}

.woocommerce button.button.alt:hover {
	background: SteelBlue !important;
}

a.button:hover {
	background: SteelBlue !important;
}
 .woocommerce .woocommerce-message,
 .woocommerce .woocommerce-error,
 .woocommerce .woocommerce-info,
 .woocommerce-page .woocommerce-message,
 .woocommerce-page .woocommerce-error,
 .woocommerce-page .woocommerce-info {
	background: SkyBlue !important;
}

.posted_in a {
	color: SkyBlue !important;
}

.posted_in a:hover {
	color: SteelBlue !important;
}


* {
	-webkit-box-sizing: inherit !important;
	-moz-box-sizing: inherit !important;;
	box-sizing: inherit !important;;
}

.container {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

:before, :after {
	-webkit-box-sizing:  inherit !important;
	-moz-box-sizing:  inherit !important;
	box-sizing:  inherit !important;
}

.gridlist-toggle {
	width: 57px !important;
}


.woocommerce .list .star-rating, .woocommerce-page .list .star-rating {
	margin-left: 274px !important;
}

#main-content .container:before {
	width: 0px;
}

.et_pb_widget_area_left {
	border-right: none;
}

.widget_shopping_cart_content .buttons a.button {
	font-size: 15px !important;
	padding: 10px !important;
}

.button:hover {
	background: SteelBlue !important;
}

.woocommerce form .form-row select,
.woocommerce-page form .form-row select {
	font-size: 1em;
	line-height: 1em;
}

.woocommerce form .form-row input.input-text,
.woocommerce-page form .form-row input.input-text {
	line-height: 3em;
	font-size: 1em;
}

.et_nav_text_color_light,
.et_nav_text_color_light #et-secondary-nav a,
.et_nav_text_color_light .et-social-icon a {
	color: #fff;
	opacity: 1 !important;
}

.et_nav_text_color_light:hover,
.et_nav_text_color_light #et-secondary-nav a:hover,
.et_nav_text_color_light .et-social-icon a:hover {
	text-decoration: underline;
}

.archive.et_right_sidebar.woocommerce ul.list li.product {
	width: 100% !important;
}

#left-area .woocommerce-message .button {
	padding: 13px 24px 14px! important;
}

.modal {
	top: 30%;
}

@media (max-width: 1100px) {
	.widget_shopping_cart_content .buttons a.button {
		font-size: 10px !important;
	}

	.woocommerce .list .star-rating, .woocommerce-page .list .star-rating {
		margin-left: 0px !important;
	}
}

@media (max-width: 980px) {
	.widget_shopping_cart_content .buttons a.button {
		font-size: 15px !important;
	}

	.woocommerce .list .star-rating, .woocommerce-page .list .star-rating {
		margin-left: 50% !important;
	}
}
 
/* =Theme customization starts here
------------------------------------------------------- */

ul#top-menu {

}

ul#top-menu > li {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

ul#top-menu > li:hover {
	height: 100%;
}

ul#top-menu > li > a {
	height: 100%;
	padding-right: 10px;
	padding-left: 10px;
}

ul#top-menu > li > a:hover {
	background-color: SkyBlue;
	color: #fff;

	/* For Safari 3.1 to 6.0 */
	-webkit-transition-property: color;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	/* Standard syntax */
	transition-property: color;
	transition-duration: .5s;
	transition-timing-function: linear;
	transition-delay: 0s;

	/* For Safari 3.1 to 6.0 */
	-webkit-transition-property: background-color;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	/* Standard syntax */
	transition-property: background-color;
	transition-duration: .5s;
	transition-timing-function: linear;
	transition-delay: 0s;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	height: auto !important;
}

.navbar-nav > li > a {
	padding-top: 20px;
}